@page "/History"

@inject NavigationManager NavManager
@inject Group19LibraryApp.Data.LibraryData libData;
@using Group19LibraryApp.components;
@using System.Collections;
@using Group19LibraryApp.Pages.Components;
@using System.Collections.Specialized;
@using System.Web;

<PageTitle>History</PageTitle>

<h1 style="position: relative; top: 1%; left: 32%">
    History
</h1>

<section style="text-align:center;">
    <svg width="357" height="3" viewBox="0 0 357 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1.5" x2="75" y2="1.5" stroke="#D1CFCF" stroke-width="3" />
        <line x1="93" y1="1.5" x2="168" y2="1.5" stroke="#D1CFCF" stroke-width="3" />
        <line x1="189" y1="1.5" x2="264" y2="1.5" stroke="#D1CFCF" stroke-width="3" />
        <line x1="282" y1="1.5" x2="357" y2="1.5" stroke="#D1CFCF" stroke-width="3" />
    </svg>
</section>


<!--querried books-->
<div class="hidescroll" style="height:100%; width:100%;position: relative;overflow-y:auto;overflow-x:hidden; margin-top: 5%">
    @for (int i = 0; i <= (int)list.Count() / 3; i++)
    {
        @for (int j = 0; j < Math.Min(list.Count() - (3 * i), 3); j++)
        {
            <div style="width:20%; height:22%; position: absolute; left: calc(10% + calc(30% * @j)); top: calc(30% * @i)">
                <BookCover info="@list[(3*i)+j]" />
            </div>
        }
    }
</div>



@code {
    
    private List<LibraryItem> list = Group19LibraryApp.Data.LibraryData.history;
}

