@page "/ViewReservation"

<PageTitle>Reservations</PageTitle>

<h2 class="reservation-main">Reservation</h2>
<button id="back" class="back">&#8592</button>

<section class="reservation-list">
	<div class="a-reservation-row">
		<div class="book-cover">
			<img class="book-image" src="Images/free-cover.jpg" alt="The Ripple Effect Book by Daryle S.">
		</div>
		<div class="reservation-details">
			<h4 class="main-text">The Ripple Effect</h4>
			<h6 class="secondary-text">Wait List Position: 6</h6>
			<h6 class="secondary-text">Library Location: Library B</h6>
		</div>
	</div>
	<div class="a-reservation-row">
		<div class="book-cover">
			<img class="book-image" src="Images/grey-block.jpg" alt="Lorem Ipsum by Ipsum">
		</div>
		<div class="reservation-details">
			<h4 class="main-text">Random Title</h4>
			<h6 class="secondary-text">Wait List Position: 2</h6>
			<h6 class="secondary-text">Library Location: Library D</h6>
		</div>
	</div>
</section>